body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 500px;
}

input {
    margin: 10px 0;

}











